html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    canvas {
        position: absolute;
        z-index: 0;
    }

    #uicanvas {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

* {
    user-select: none;
}
